In [2]:
import pandas as pd

data1 = pd.read_csv('/Users/srikanthbanda/Documents/Fall 2023/Job prep/Data science/blockhouse/data/merged_bid_ask_ohlcv_data.csv')
data2 = pd.read_csv('/Users/srikanthbanda/Documents/Fall 2023/Job prep/Data science/blockhouse/data/AAPL_Quotes_Data.csv')
print(data1.isna().sum())  # Check for NaN values in each column
print(data2.isna().sum())  # Check for NaN values in each column

timestamp          0
bid_price_1        0
bid_price_2       33
bid_price_3       85
bid_price_4      139
bid_price_5      195
bid_size_1         0
bid_size_2        33
bid_size_3        85
bid_size_4       139
bid_size_5       195
ask_price_1        0
ask_price_2       33
ask_price_3       85
ask_price_4      139
ask_price_5      195
ask_size_1         0
ask_size_2        33
ask_size_3        85
ask_size_4       139
ask_size_5       195
rtype            157
publisher_id     157
instrument_id    157
open             157
high             157
low              157
close            157
volume           157
symbol           157
log_return       157
volatility       157
dtype: int64
timestamp       0
bid_price_1     0
bid_price_2    22
bid_price_3    54
bid_price_4    70
bid_price_5    81
bid_size_1      0
bid_size_2     22
bid_size_3     54
bid_size_4     70
bid_size_5     81
ask_price_1     0
ask_price_2    22
ask_price_3    54
ask_price_4    70
ask_price_5    81
ask_size_1      0
ask_size_2     22
ask_size_3     54
ask_size_4     70
ask_size_5     81
dtype: int64

In [3]:
print(data1.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100964 entries, 0 to 100963
Data columns (total 32 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   timestamp      100964 non-null  object
 1   bid_price_1    100964 non-null  float64
 2   bid_price_2    100931 non-null  float64
 3   bid_price_3    100879 non-null  float64
 4   bid_price_4    100825 non-null  float64
 5   bid_price_5    100769 non-null  float64
 6   bid_size_1     100964 non-null  float64
 7   bid_size_2     100931 non-null  float64
 8   bid_size_3     100879 non-null  float64
 9   bid_size_4     100825 non-null  float64
 10  bid_size_5     100769 non-null  float64
 11  ask_price_1    100964 non-null  float64
 12  ask_price_2    100931 non-null  float64
 13  ask_price_3    100879 non-null  float64
 14  ask_price_4    100825 non-null  float64
 15  ask_price_5    100769 non-null  float64
 16  ask_size_1     100964 non-null  float64
 17  ask_size_2     100931 non-null  float64
 18  ask_size_3     100879 non-null  float64
 19  ask_size_4     100825 non-null  float64
 20  ask_size_5     100769 non-null  float64
 21  rtype          100807 non-null  float64
 22  publisher_id   100807 non-null  float64
 23  instrument_id  100807 non-null  float64
 24  open           100807 non-null  float64
 25  high           100807 non-null  float64
 26  low            100807 non-null  float64
 27  close          100807 non-null  float64
 28  volume         100807 non-null  float64
 29  symbol         100807 non-null  object
 30  log_return     100807 non-null  float64
 31  volatility     100807 non-null  float64
dtypes: float64(30), object(2)
memory usage: 24.6+ MB
None

In [4]:
print(data2.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17126 entries, 0 to 17125
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    17126 non-null  object
 1   bid_price_1  17126 non-null  float64
 2   bid_price_2  17104 non-null  float64
 3   bid_price_3  17072 non-null  float64
 4   bid_price_4  17056 non-null  float64
 5   bid_price_5  17045 non-null  float64
 6   bid_size_1   17126 non-null  float64
 7   bid_size_2   17104 non-null  float64
 8   bid_size_3   17072 non-null  float64
 9   bid_size_4   17056 non-null  float64
 10  bid_size_5   17045 non-null  float64
 11  ask_price_1  17126 non-null  float64
 12  ask_price_2  17104 non-null  float64
 13  ask_price_3  17072 non-null  float64
 14  ask_price_4  17056 non-null  float64
 15  ask_price_5  17045 non-null  float64
 16  ask_size_1   17126 non-null  float64
 17  ask_size_2   17104 non-null  float64
 18  ask_size_3   17072 non-null  float64
 19  ask_size_4   17056 non-null  float64
 20  ask_size_5   17045 non-null  float64
dtypes: float64(20), object(1)
memory usage: 2.7+ MB
None

In [5]:
data1.isna().sum()

timestamp          0
bid_price_1        0
bid_price_2       33
bid_price_3       85
bid_price_4      139
bid_price_5      195
bid_size_1         0
bid_size_2        33
bid_size_3        85
bid_size_4       139
bid_size_5       195
ask_price_1        0
ask_price_2       33
ask_price_3       85
ask_price_4      139
ask_price_5      195
ask_size_1         0
ask_size_2        33
ask_size_3        85
ask_size_4       139
ask_size_5       195
rtype            157
publisher_id     157
instrument_id    157
open             157
high             157
low              157
close            157
volume           157
symbol           157
log_return       157
volatility       157
dtype: int64

In [6]:
data2.isna().sum()

timestamp       0
bid_price_1     0
bid_price_2    22
bid_price_3    54
bid_price_4    70
bid_price_5    81
bid_size_1      0
bid_size_2     22
bid_size_3     54
bid_size_4     70
bid_size_5     81
ask_price_1     0
ask_price_2    22
ask_price_3    54
ask_price_4    70
ask_price_5    81
ask_size_1      0
ask_size_2     22
ask_size_3     54
ask_size_4     70
ask_size_5     81
dtype: int64

In [8]:
data2[data2['bid_price_2'].isna()]

,timestamp,bid_price_1,bid_price_2,bid_price_3,bid_price_4,bid_price_5,bid_size_1,bid_size_2,bid_size_3,bid_size_4,...,ask_price_1,ask_price_2,ask_price_3,ask_price_4,ask_price_5,ask_size_1,ask_size_2,ask_size_3,ask_size_4,ask_size_5
1055,2024-07-03 18:12:00+00:00,220.71,NaN,NaN,NaN,NaN,300.0,NaN,NaN,NaN,...,220.85,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
1056,2024-07-03 18:15:00+00:00,220.71,NaN,NaN,NaN,NaN,300.0,NaN,NaN,NaN,...,220.80,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
1058,2024-07-03 18:17:00+00:00,220.71,NaN,NaN,NaN,NaN,300.0,NaN,NaN,NaN,...,220.80,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
1059,2024-07-03 18:18:00+00:00,220.73,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,220.80,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN
1061,2024-07-03 18:20:00+00:00,220.79,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,220.85,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
1073,2024-07-03 18:36:00+00:00,220.90,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,220.92,NaN,NaN,NaN,NaN,42.0,NaN,NaN,NaN,NaN
1075,2024-07-03 18:38:00+00:00,220.86,NaN,NaN,NaN,NaN,201.0,NaN,NaN,NaN,...,220.90,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN
1081,2024-07-03 18:48:00+00:00,220.92,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,...,220.93,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN
1086,2024-07-03 18:54:00+00:00,220.94,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,221.00,NaN,NaN,NaN,NaN,70.0,NaN,NaN,NaN,NaN
1090,2024-07-03 19:00:00+00:00,220.85,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,...,221.10,NaN,NaN,NaN,NaN,300.0,NaN,NaN,NaN,NaN
1097,2024-07-03 19:12:00+00:00,221.11,NaN,NaN,NaN,NaN,97.0,NaN,NaN,NaN,...,221.27,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1098,2024-07-03 19:13:00+00:00,221.11,NaN,NaN,NaN,NaN,95.0,NaN,NaN,NaN,...,221.27,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1099,2024-07-03 19:14:00+00:00,221.11,NaN,NaN,NaN,NaN,87.0,NaN,NaN,NaN,...,221.27,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1102,2024-07-03 19:18:00+00:00,220.85,NaN,NaN,NaN,NaN,107.0,NaN,NaN,NaN,...,221.04,NaN,NaN,NaN,NaN,91.0,NaN,NaN,NaN,NaN
1103,2024-07-03 19:19:00+00:00,220.85,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,...,221.04,NaN,NaN,NaN,NaN,91.0,NaN,NaN,NaN,NaN
1107,2024-07-03 19:26:00+00:00,220.92,NaN,NaN,NaN,NaN,200.0,NaN,NaN,NaN,...,221.04,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN,NaN
1108,2024-07-03 19:27:00+00:00,220.92,NaN,NaN,NaN,NaN,200.0,NaN,NaN,NaN,...,221.03,NaN,NaN,NaN,NaN,91.0,NaN,NaN,NaN,NaN
1109,2024-07-03 19:28:00+00:00,220.93,NaN,NaN,NaN,NaN,95.0,NaN,NaN,NaN,...,221.03,NaN,NaN,NaN,NaN,91.0,NaN,NaN,NaN,NaN
1114,2024-07-03 19:35:00+00:00,220.82,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,...,220.93,NaN,NaN,NaN,NaN,691.0,NaN,NaN,NaN,NaN
1120,2024-07-03 19:42:00+00:00,220.80,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,220.87,NaN,NaN,NaN,NaN,75.0,NaN,NaN,NaN,NaN
1121,2024-07-03 19:44:00+00:00,220.80,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,220.84,NaN,NaN,NaN,NaN,75.0,NaN,NaN,NaN,NaN
1129,2024-07-03 19:52:00+00:00,220.69,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,...,220.79,NaN,NaN,NaN,NaN,248.0,NaN,NaN,NaN,NaN

## Handling NaN
- In a row, Caluclate the average of all bids and assign it to missing bids.
- Likewise for ask as well

In [11]:
data2.iloc[1056]

timestamp      2024-07-03 18:15:00+00:00
bid_price_1                       220.71
bid_price_2                          NaN
bid_price_3                          NaN
bid_price_4                          NaN
bid_price_5                          NaN
bid_size_1                         300.0
bid_size_2                           NaN
bid_size_3                           NaN
bid_size_4                           NaN
bid_size_5                           NaN
ask_price_1                        220.8
ask_price_2                          NaN
ask_price_3                          NaN
ask_price_4                          NaN
ask_price_5                          NaN
ask_size_1                           3.0
ask_size_2                           NaN
ask_size_3                           NaN
ask_size_4                           NaN
ask_size_5                           NaN
Name: 1056, dtype: object

In [35]:
data2.head()

,timestamp,bid_price_1,bid_price_2,bid_price_3,bid_price_4,bid_price_5,bid_size_1,bid_size_2,bid_size_3,bid_size_4,...,ask_price_1,ask_price_2,ask_price_3,ask_price_4,ask_price_5,ask_size_1,ask_size_2,ask_size_3,ask_size_4,ask_size_5
0,2024-07-01 13:30:00+00:00,212.51,212.51,212.51,212.51,212.51,120.0,100.0,120.0,220.0,...,211.93,211.93,211.93,211.93,211.93,100.0,200.0,100.0,200.0,300.0
1,2024-07-01 13:31:00+00:00,213.07,213.07,213.07,213.07,213.07,301.0,500.0,600.0,600.0,...,212.35,212.35,212.36,212.36,212.36,200.0,100.0,105.0,205.0,205.0
2,2024-07-01 13:32:00+00:00,213.05,213.05,213.05,213.05,213.05,100.0,100.0,34.0,300.0,...,212.62,212.62,212.64,212.64,212.64,49.0,49.0,100.0,100.0,100.0
3,2024-07-01 13:33:00+00:00,213.25,213.25,213.25,213.25,213.25,100.0,100.0,52.0,110.0,...,212.55,212.55,212.58,212.58,212.58,3195.0,3195.0,251.0,151.0,100.0
4,2024-07-01 13:34:00+00:00,213.47,213.46,213.46,213.46,213.46,20.0,20.0,20.0,20.0,...,213.12,213.12,213.12,213.12,213.12,1.0,1.0,1.0,1.0,1.0

In [19]:
data2[data2[].notna][data2["bid_price_1"]>data2["bid_price_2"]]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2051328504.py, line 1)

In [24]:
dropped_na_df = data2.dropna(subset=["bid_price_1","bid_price_2" ,"bid_price_3","bid_price_4", "bid_price_5"])

In [25]:
dropped_na_df.head()

,timestamp,bid_price_1,bid_price_2,bid_price_3,bid_price_4,bid_price_5,bid_size_1,bid_size_2,bid_size_3,bid_size_4,...,ask_price_1,ask_price_2,ask_price_3,ask_price_4,ask_price_5,ask_size_1,ask_size_2,ask_size_3,ask_size_4,ask_size_5
0,2024-07-01 13:30:00+00:00,212.51,212.51,212.51,212.51,212.51,120.0,100.0,120.0,220.0,...,211.93,211.93,211.93,211.93,211.93,100.0,200.0,100.0,200.0,300.0
1,2024-07-01 13:31:00+00:00,213.07,213.07,213.07,213.07,213.07,301.0,500.0,600.0,600.0,...,212.35,212.35,212.36,212.36,212.36,200.0,100.0,105.0,205.0,205.0
2,2024-07-01 13:32:00+00:00,213.05,213.05,213.05,213.05,213.05,100.0,100.0,34.0,300.0,...,212.62,212.62,212.64,212.64,212.64,49.0,49.0,100.0,100.0,100.0
3,2024-07-01 13:33:00+00:00,213.25,213.25,213.25,213.25,213.25,100.0,100.0,52.0,110.0,...,212.55,212.55,212.58,212.58,212.58,3195.0,3195.0,251.0,151.0,100.0
4,2024-07-01 13:34:00+00:00,213.47,213.46,213.46,213.46,213.46,20.0,20.0,20.0,20.0,...,213.12,213.12,213.12,213.12,213.12,1.0,1.0,1.0,1.0,1.0

In [39]:
# Create the new column with the specified condition
dropped_na_df['is_bid_strictly_decreasing'] = (
    (dropped_na_df['bid_price_1'] >= dropped_na_df['bid_price_2']) &
    (dropped_na_df['bid_price_2'] >= dropped_na_df['bid_price_3']) &
    (dropped_na_df['bid_price_3'] >= dropped_na_df['bid_price_4']) &
    (dropped_na_df['bid_price_4'] >= dropped_na_df['bid_price_5'])
)

/var/folders/gw/3zb21ll97db7pxjn773bvf7c0000gn/T/ipykernel_13840/3341321081.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped_na_df['is_bid_strictly_decreasing'] = (

In [41]:
# Create the new column with the specified condition
dropped_na_df['is_ask_strictly_increasing'] = (
    (dropped_na_df['ask_price_1'] <= dropped_na_df['ask_price_2']) &
    (dropped_na_df['ask_price_2'] <= dropped_na_df['ask_price_3']) &
    (dropped_na_df['ask_price_3'] <= dropped_na_df['ask_price_4']) &
    (dropped_na_df['ask_price_4'] <= dropped_na_df['ask_price_5'])
)

/var/folders/gw/3zb21ll97db7pxjn773bvf7c0000gn/T/ipykernel_13840/2672149125.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped_na_df['is_ask_strictly_increasing'] = (

In [42]:
dropped_na_df.shape

(17045, 23)

In [43]:
dropped_na_df["is_bid_strictly_decreasing"].value_counts()

is_bid_strictly_decreasing
True    17045
Name: count, dtype: int64

In [44]:
dropped_na_df["is_ask_strictly_increasing"].value_counts()

is_ask_strictly_increasing
True    17045
Name: count, dtype: int64

In [18]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17126 entries, 0 to 17125
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    17126 non-null  object
 1   bid_price_1  17126 non-null  float64
 2   bid_price_2  17104 non-null  float64
 3   bid_price_3  17072 non-null  float64
 4   bid_price_4  17056 non-null  float64
 5   bid_price_5  17045 non-null  float64
 6   bid_size_1   17126 non-null  float64
 7   bid_size_2   17104 non-null  float64
 8   bid_size_3   17072 non-null  float64
 9   bid_size_4   17056 non-null  float64
 10  bid_size_5   17045 non-null  float64
 11  ask_price_1  17126 non-null  float64
 12  ask_price_2  17104 non-null  float64
 13  ask_price_3  17072 non-null  float64
 14  ask_price_4  17056 non-null  float64
 15  ask_price_5  17045 non-null  float64
 16  ask_size_1   17126 non-null  float64
 17  ask_size_2   17104 non-null  float64
 18  ask_size_3   17072 non-null  float64
 19  ask_size_4   17056 non-null  float64
 20  ask_size_5   17045 non-null  float64
dtypes: float64(20), object(1)
memory usage: 2.7+ MB